.search-bar {

  &__label {
    width: max-content;
    cursor: text;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 1.5rem;
    top: .25rem;
    font-size: 1rem;
    color: #666;
  }

  &__input {
    min-width: 300px;
    width: 450px;
    height: 60px;
    padding: 5px 20px 5px 3.5rem;
    border: 2px solid #ffffff;
    border-radius: 3rem;

    color: black;
    font-size: 1.15rem;
  }

}