.cart {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 2rem;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }

  &__badge {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    padding: .3rem;
    text-align: center;

    font-size: .8rem;
    font-weight: bold;
    color: white;

    background-color: #00e4c0;
    border-radius: 5rem;
  }
}