.cart {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
  }

  &__icon {
    font-size: 1.5rem;
    color: white;
    background-color: none;
  }

  &__badge {
    position: absolute;
    top: -.75rem;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;

    padding: .3rem;
    text-align: center;

    font-size: .9rem;
    font-weight: bolder;
    color: white;

    background-color: #00e4c0;
    border-radius: 5rem;
  }
}