@import 'assets/styles/sass/_variables';
@import 'assets/styles/sass/_mixins';
@import 'assets/styles/sass/_media-mixins';

.cart__wrapper {
  position: relative;
  @include flex-container(flex-start);
  width: max-content;
  padding-right: 1.15rem;

  @include for-phone-only {
    padding-right: 0.15rem;

    &:not(.empty) {
      padding-right: 1.5rem;
    }
  }

  &:hover {
    cursor: pointer;
    transform: rotate(5deg);
  }
}

.cart__icon {
  font-size: 1.5rem;
  color: $white;
  transition: $defaultTransition;
}

.cart__badge {
  position: absolute;
  top: -.75rem;
  right: -.25rem;

  @include flex-container;
  @include size(1.75rem, 1.75rem);

  padding: .5rem;
  text-align: center;

  font-size: .9rem;
  font-weight: bold;
  color: $white;

  background-color: $robbinEggBlue;
  border-radius: 5rem;

  @include for-phone-only {
    right: .15rem;
  }
}