@import 'assets/styles/sass/_variables';
@import 'assets/styles/sass/_mixins';

.main-features__wrapper {
  margin: 2rem 0;
  @include flex-container;
  flex-direction: column;
}

.main-features__list {
  @include flex-container(space-between, center, wrap);
  @include reset-list;
}


.main-features__wrapper {
  .feature__wrapper {
    flex: 1 1 48%;
    align-self: stretch;

    padding: .25rem 1rem;
    border-radius: .5rem;
    box-shadow: $lightShadow;

    background-color: $white;
    @include flex-container(flex-start);
  }

  .feature__icon {
    font-size: 1.5rem;
    color: lighten($black, 40);
  }

  .feature__info-wrapper {
    padding: .5rem 1rem;
  }

  .feature__title {
    margin: 0;
    font-size: .8rem;
    text-transform: capitalize;
    color: $darkCharcoal;
  }

  .feature__description {
    margin: 0;
    font-size: .7rem;
  }
}


.main-features__see-more.button {
  @include flex-container(flex-start);

  width: max-content;
  margin: .5rem 1rem 2rem;
  padding: .5rem 1rem;

  font-size: .75rem;
  font-weight: bold;
  color: $trueBlue;

  border-radius: 5px;
  border: 1px solid lighten($trueBlue, 40%);

  &:hover {
    border-color: $trueBlue;
  }
}

.main-features__see-more-icon {
  font-size: 1rem;
  margin-right: .5rem;
}