.products-list {

  &__wrapper {
    width: 100%;
  }

  &.page-title__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  // // &__header {
  // //   width: 100%;
  // //   padding: 2rem 3rem 0;
  // //   display: flex;
  // //   justify-content: space-between;
  // //   align-items: center;

  // //   #page-title {
  // //     margin: 0;
  // //     font-size: 2rem;
  // //   }

  // }
}