.back-link {
  width: max-content;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  color: #666;
  font-size: 1rem;

  transition: all .2s;

  &:hover {
    color: lighten($color: #666, $amount: 30);
  }

  &__label {
    margin: 0 1rem
  }
}