.items-list {
  margin: 2rem auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: stretch;

  list-style: none;
}