$backgroundGrey: #eeeeee;
$mainBlue: #00254b;
$highlightGreen: #00e4c0;
$appChildrenPadding: 0 5vw;
$maxAppWidth: 1500px;

$primaryTextColor: black;


.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      // background-color: $backgroundGrey;
      width: 100vw;

      & > div,
      .header__content-wrapper {
        max-width: $maxAppWidth;
        padding: $appChildrenPadding;
        margin: 0 auto;
      }
    }
  }
}

.button {
  margin: 4px 2px;
  padding: 1rem 3rem;

  cursor: pointer;
  display: inline-block;

  background-color: none;
  border: none;
  border-radius: 3rem;
  color: $primaryTextColor;

  text-align: center;
  text-decoration: none;
  font-size: 1rem;

  &__checkout {
    width: 50%;
    background-color: $highlightGreen;
    color: $mainBlue;
    font-weight: bold;
  }
}