$backgroundGrey: #eeeeee;
$mainBlue: #00254b;
$highlightGreen: #00e4c0;
$appChildrenPadding: 0 5vw;
$maxAppWidth: 1500px;

$primaryTextColor: black;


.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  scroll-behavior: smooth;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      width: 100vw;

      & > div,
      .header-content {
        max-width: $maxAppWidth;
        padding: $appChildrenPadding;
        margin: 0 auto;
      }
    }
  }

  header > div,
  header-breadbrumbs > nav {
    @extend .header-content
  }

}