.not-found {

  &__wrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 40%;
  }

  &__button {
    &-wrapper {
      margin-top: 5rem;
      text-align: center;
    }

    &-link {
      padding: 1rem 2rem;
      background-color: grey;
      color: white;
      font-weight: bold;
    }
  }
}